html,
body,
h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  padding: 24px 0 30px;
  font-size: 46px;
  line-height: 100%;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    padding: 15px 0;
    font-size: 32px;
  }
}

ul {
  list-style: none;
}
