:root {
  --color-accent: #bf2738;
  --color-accent-hover: #cc2a3c;
  --color-accent-active: #991f2d;
  --color-link: #f23147;
  --color-text-main: #262633;
  --color-text-add: #797986;
  --color-text-light: #f5f5f5;
  --color-lines: #eaeaea;
  --color-bg: #f5f5f5;

  --font-title: "RoadRadio";
  --font-text-main: "Golos";
  --font-text-add: "Akzidenz Grotesk Pro";
  --font-text-email: "Graphik LC Web";
}
